@tailwind base;
@tailwind components;
@tailwind utilities;

@media print {
  body { background: white; color: black; }
  header, aside, .no-print { display: none !important; }
  .print-only { display: block !important; }
}
